button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    &.btn-danger{
        background: red;
        color: white;
    }
    &.btn-primary{
        background: $secondary;
        color: white;
    }
    &.btn-sm{
        padding: 5px 10px;
    }
    &.btn-lg{
        padding: 15px 20px;
    }
}