button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
    &.btn-danger{
        background: red;
        color: white;
    }
    &.btn-primary{
        background: $secondary;
        color: white;
    }
    &.btn-secondary{
        background: $secondary;
        color: white;
        &:hover{
            background: #b34700;
        }
    }
    &.btn-sm{
        padding: 5px 10px;
    }
    &.btn-lg{
        padding: 15px 20px;
    }
    &.display-table{
        display: table;
    }
    &.display-block{
        display: block;
    }
}